.hero-container {
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 


}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
}

.hero-left p:first-child {
  position: relative;
}

.hero-left p:first-child::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -50%;
  width: 40%;
  height: 2px;
  background-color: var(--text-primary);
}

.hero-left h1 {
  font-size: var(--font-xxl);
}

.hero-left p:last-child {
  position: relative;
}

.hero-left p:last-child::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -50%;
  width: 40%;
  height: 2px;
  background-color: var(--text-primary);
}

.hero-right {
  flex: 1;
}
