.title-container {
  text-align: center;


  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  color: var(--text-primary);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.title-container span {
  color: var(--text-secondary);
  position: relative;
}

.title-container span::after {
  content: '';
  position: absolute;
  left: 101%;
  top: 50%;
  height: 2px;
  width: 50%;
  background-color: var(--border-primary);
}

.title-container p {
  font-size: var(--font-md);
  font-weight: var(--font-normal);
}
