.collection__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);
  
}

.collection__filter {
  width: 100%;
  max-width: 200px;
 
}

.collection__products-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: var(--spacing-md);
}
