[data-theme='light'] {
  --bg: #fff;
  --text: #000;
}

[data-theme='dark'] {
  --bg: #121212;
  --text: #fff;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--bg);
  color: var(--text);
}

:root {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}
