.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mystery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange; /* Light grey background */
  padding: 20px;

  border-radius: 25px;
}

.title {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.text {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.label {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-right: 10px;
}

.input {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 25px;
}

.btn {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
}