.homepage-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 2rem 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  gap: 15px;
}
