.container {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(./images/fon3.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-size: 32px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.image-container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:100px;
}

.image-container li:last-child img{
    width: 500px;
}