:root{
    --dark:black;
    --brith:white;
    --accent:yellow;

    --form-bg:var(--dark);
    --title-color:var(--brith);
    --text-accent:var(--accent)
}
html,body{
    box-sizing: border-box;
}
label{
    margin-top: 10px;
}
h1,h2,h3,h4,h5,h6{
    color: var(--title-color);
}
.form{
    max-width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.form-first-side{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    
}
.form-second-side{
    display: flex;
    flex-direction: column;
    float: right;
    max-width: 300px;
}

.is-hidden{
    display: none;
}


.mouse-improvment{
    background-color: black;
    color: var(--text-accent);
}