.main{
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.section{
    font-size: 20px;
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    border:2px solid black;
}

.tower1::before{
    content: '';
    width: 20px;
    height: 200px;
    background-color: brown;
    border-radius: 20%;
    position: absolute;
    top: 100px;
    left: 30px;
    
    
}
.tower2::before{
    content: '';
    width: 20px;
    height: 200px;
    background-color: brown;
    border-radius: 20%;
    position: absolute;
    top: 100px;
    left: 230px;
    
    
}
.tower3::before{
    content: '';
    width: 20px;
    height: 200px;
    background-color: brown;
    border-radius: 20%;
    position: absolute;
    top: 100px;
    left: 430px;
   
    
}