body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.App {
  margin-top: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.search-sort{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  border: 3px solid black;
  border-radius: 25px;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  width: 500px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 4px solid green;
}

.post-button {
  width: 100px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.post-button:hover {
  background-color: darkgreen;
}
